<!doctype html>
<html lang=en>

<head>
    <meta charset=utf-8>
    <meta content="width=device-width,initial-scale=1" name=viewport>
</head>

<style>
    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }
</style>

<body style="text-align: center">
    <div class="container">
        You are running in mode development, run the next command for show website:<br /><br />
        
        <code>./entrypoint.sh --web-development </code><br /><br />

        or <br /><br />

        <code>./entrypoint.sh -wd </code> <br /><br />

        <a href="http://localhost:3000"> Open localhost:3000</a>
    </div>


</body>