<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="{{url_for('static', filename='img/logo70x70.png')}}">
    <link rel="stylesheet" href="https://bulma.io/vendor/fontawesome-free-5.15.2-web/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css') }}">
    <meta charset="utf-8">
    <meta name="description" content="Tona - Lightweight tools for personal productivity">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Tona - {% block title %}{% endblock %}</title>
    {% block head %}
        <script src="{{url_for('static', filename='js/tona.js')}}"></script>
        <script src="{{url_for('static', filename='js/time_entry.js')}}"></script>
    {% endblock %}
</head>

<body>
    <header class="pl-4 pr-4">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="notification is-danger is-light">
                <button class="delete"></button>
                {{ message }}
            </div>
            {% endfor %}
            <script type="text/javascript">
                document.addEventListener("DOMContentLoaded",Tona.NotificationDelete);
            </script>
            {% endif %}
        {% endwith %}
        <nav class="navbar is-transparent">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <!--img src="{{url_for('static', filename='img/logo.png')}}" width="112" height="28"-->
                    TONA
                </a>
                <div class="navbar-burger" data-target="tona-navbar-menu">
                <span></span>
                <span></span>
                <span></span>
                </div>
            </div>
            
            <div id="tona-navbar-menu" class="navbar-menu">

                <div class="navbar-end">
                    <a class="navbar-item" href="/time-entry">
                        Timer
                    </a>
                    <a class="navbar-item" href="/project/today">
                        Project
                    </a>
                    <a class="navbar-item" href="/objective/year">
                        Objective
                    </a>
                </div>
            </div>
        </nav>
    </header>
    <main class="ml-4 mr-4 mt-5">
        {% block content %}{% endblock %}
    </main>
    <footer class="footer mt-5">
        <div class="content has-text-centered">
          <p>
            <strong>Tona</strong> by <a href="https://josehbez.com">@josehbez</a>. The source code is licensed
            <a href="https://www.gnu.org/licenses/gpl-3.0.html">GPLv3</a>. The website content
            is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
          </p>
        </div>
    </footer>
</body>

</html>