{% extends "base.html" %}

{% block title %}Timer{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}

<div class="columns is-mobile">
  
  <div class="column is-one-fifth">
    <aside class="menu">
      <p class="menu-label">
        Track
      </p>
      <ul class="menu-list">
        <li><a href="/time-entry" class="{{ 'is-active' if whoami == 'timer' else '' }}">Timer</a></li>
      </ul>
      <p class="menu-label">
        Analyze
      </p>
      <ul class="menu-list">
        <li><a class="{{ 'is-active' if whoami == 'other' else '' }}" href="/time-entry/analyze/other">Other</a></li>
        <li><a class="{{ 'is-active' if whoami == 'project' else '' }}" href="/time-entry/analyze/project">Project</a></li>
        <li><a class="{{ 'is-active' if whoami == 'objective' else '' }}" href="/time-entry/analyze/objective">Objective</a></li>
        <li><a class="{{ 'is-active' if whoami == 'habit' else '' }}" href="/time-entry/analyze/habit">Habit</a></li>
      </ul>
      <!--p class="menu-label">
        Settings
      </p>
      <ul class="menu-list">
        <li><a href="/time-entry/settings/pomodoro">Pomodoro</a></li>
      </ul-->
    </aside>
  </div>
  
  <div class="column">
    {% if whoami == 'timer' %}
      <div class="columns">
        <div class="column">
          <div id="timer-addons" class="field has-addons">
            <p class="control">
              <a id="time-entry-duration" class="button">00:00:00</a>
            </p>
            <p class="control is-expanded">
              <input id="time-entry-name" value="" class="input is-primary" type="text" placeholder="What are you working on?">
            </p>
            <p class="control">
              <a onclick="TimeEntry.StartTimeEntry(event)" class="button is-primary start-time-entry" title="Start time entry">
                <span class="icon">
                  <i class="fas fa-clock"></i>
                </span>
              </a>
              <a onclick="TimeEntry.StopTimeEntry(event)" class="button is-danger is-hidden stop-time-entry" title="Stop time entry">
                <span class="icon">
                  <i class="fas fa-stop"></i>
                </span>
              </a>
            </p>
          </div>
        </div>
      </div>
      <aside class="menu">
          <p class="menu-label">
            Today
          </p>
          <ul class="menu-list">
            {% for row in time_entries %}
              <li >
                <a href="/time-entry/{{row[0]}}">
                  {{row[1]}}
                  <span class="is-pulled-right">
                    {{format_time_duration(row[4])}}
                  </span>
                  <span class="is-pulled-right pr-6">
                    <!-- TODO: paste code-->
                    {{convert_datetime(row[2], tz_out=TZ, fmt_in=FORMAT_DATE+' '+FORMAT_TIME+'.%f', fmt_out=FORMAT_TIME)}} -
                    {{convert_datetime(row[3], tz_out=TZ, fmt_in=FORMAT_DATE+' '+FORMAT_TIME+'.%f', fmt_out=FORMAT_TIME) if row[3] else ''}}
                  </span>
                </a>
            </li>
            {% endfor %}
          </ul>
      </aside>
    {% endif %}

    {% block column2 %}
    {% endblock %}
  </div>
  
  <div class="column is-one-fifth">
    {% if whoami == 'timer' and time_entry %}
      <div class="columns">
        <div class="column">  
          <div class="control is-inline is-pulled-right">
            <div class="dropdown is-right">
              <div class="dropdown-trigger">
                <button class="button is-small" aria-haspopup="true" aria-controls="time-entry-menu">
                  <span class="icon is-small">
                    <i class="fas fa-bars" aria-hidden="true"></i>
                  </span>
                </button>
              </div>
              <div class="dropdown-menu" id="time-entry-menu" role="menu">
                <div class="dropdown-content">
                    <a onclick="TimeEntry.EditTimeEntry(event, {{time_entry.id}}, 'delete')" class="dropdown-item">
                      Delete
                    </a>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <div class="field is-horizontal">
            <div class="field-label is-small">
              <label class="label">Duration</label>
            </div>
            <div class="field-body ">
              <div class="field">
                <p class="control is-pulled-right">
                  <input id="time-entry-start-stop" class="input is-small is-static"  readonly
                    type="text" value="{{format_time_duration(time_entry.duration)}}"/>
                </p>
              </div>
            </div>
          </div>

          {% if not time_entry.res_id and not time_entry.res_model %}
            <div class="field">
              <label class="label is-small">Name</label>
              <div class="control">
                <input onblur="TimeEntry.EditTimeEntry(event,{{time_entry.id}}, 'name')"
                  class="input is-small" type="text" value="{{time_entry.name}}">
              </div>
            </div>
          {% endif %}
          <div class="field">
            <label class="label is-small">Start</label>
            <div class="control">
              <input 
                onchange="TimeEntry.EditTimeEntry(event, {{time_entry.id}}, 'start')"
                class="input is-small" type="datetime-local" value="{{convert_datetime(time_entry.start, fmt_out= FORMAT_DATE+'T'+FORMAT_TIME, tz_out=TZ)}}"/>
            </div>
          </div>

          <div class="field">
            <label class="label is-small">Stop</label>
            <div class="control">
              <input 
                onchange="TimeEntry.EditTimeEntry(event, {{time_entry.id}}, 'stop')"                
                class="input is-small" type="datetime-local" value="{{convert_datetime(time_entry.stop, fmt_out= FORMAT_DATE+'T'+FORMAT_TIME, tz_out=TZ)}}"/>
            </div>
          </div>
          

          {% if time_entry.res_id and time_entry.res_model %}
            <div class="field">
              <label class="label is-small">Resource ID</label>
              <div class="control">
                <input class="input is-small" type="number" value="{{time_entry.res_id}}">
              </div>
            </div>
            
            <div class="field">
              <label class="label is-small">Resource Name</label>
              <div class="control">
                <input class="input is-small" type="text" value="{{time_entry.res_model}}">
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    {% endif %}
    {% block column3 %}
    {% endblock %}
  </div>
  
</div>

{% endblock %}