{% extends "base.html" %}

{% block title %}Timer{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}

<div class="columns is-mobile">
  
  <div class="column is-one-fifth">
    <aside class="menu">
      <p class="menu-label">
        Track
      </p>
      <ul class="menu-list">
        <li><a href="/time-entry" class="{{ 'is-active' if whoami == 'timer' else '' }}">Timer</a></li>
      </ul>
      <p class="menu-label">
        Analyze
      </p>
      <ul class="menu-list">
        <li><a class="{{ 'is-active' if whoami == 'project' else '' }}" href="/time-entry/analyze/project">Project</a></li>
        <li><a class="{{ 'is-active' if whoami == 'objective' else '' }}" href="/time-entry/analyze/objective">Objective</a></li>
        <li><a class="{{ 'is-active' if whoami == 'habit' else '' }}" href="/time-entry/analyze/habit">Habit</a></li>
      </ul>
      <!--p class="menu-label">
        Settings
      </p>
      <ul class="menu-list">
        <li><a href="/time-entry/settings/pomodoro">Pomodoro</a></li>
      </ul-->
    </aside>
  </div>
  
  <div class="column">
    {% if whoami == 'timer' %}
      <div class="columns">
        <div class="column">
          <div id="timer-addons" class="field has-addons">
            <p class="control">
              <a id="time-entry-duration" class="button">00:00:00</a>
            </p>
            <p class="control is-expanded">
              <input id="time-entry-name" value="" class="input is-primary" type="text" placeholder="What are you working on?">
            </p>
            <p class="control">
              <a onclick="TonaTimeEntry.StartTimeEntry()" id="start-time-entry" class="button is-primary" title="Start time entry">
                <span class="icon">
                  <i class="fas fa-clock"></i>
                </span>
              </a>
              <a onclick="TonaTimeEntry.StopTimeEntry()"id="stop-time-entry" class="button is-danger is-hidden" title="Stop time entry">
                <span class="icon">
                  <i class="fas fa-stop"></i>
                </span>
              </a>
            </p>
          </div>
        </div>
      </div>
      <aside class="menu">
          <p class="menu-label">
            Today
          </p>
          <ul class="menu-list">
            {% for row in time_entries %}
              <li >
                <a href="/time-entry/{{row[0]}}">
                  {{row[1]}}
                  <span class="is-pulled-right">
                    {{format_time_duration(row[4])}}
                  </span>
                  <span class="is-pulled-right pr-6">
                    {{convert_datetime(row[2], tz_out=TZ, fmt_in=FORMAT_DATE+' '+FORMAT_TIME+'.%f', fmt_out=FORMAT_TIME)}} -
                    {{convert_datetime(row[3], tz_out=TZ, fmt_in=FORMAT_DATE+' '+FORMAT_TIME+'.%f', fmt_out=FORMAT_TIME) if row[3] else ''}}
                  </span>
                </a>
            </li>
            {% endfor %}
          </ul>
      </aside>
    {% endif %}

    {% block column2 %}
    {% endblock %}
  </div>
  
  <div class="column is-one-fifth">
    {% block column3 %}
    {% endblock %}
  </div>
  
</div>

{% endblock %}