{% extends "base.html" %}

{% block title %}Timer{% endblock %}

{% block head %}
  {{ super() }}
  <script src="{{url_for('static', filename='js/time_entry.js')}}"></script>
{% endblock %}

{% block content %}

{% set time_entry_id = "" %}
{% set time_entry_start = "" %}
{% set time_entry_name = "" %}
{% if time_entry %}
  {% set time_entry_id = time_entry.id %}
  {% set time_entry_start = time_entry.start %}
  {% set time_entry_name = time_entry.name %}
{% endif %}

<div class="columns is-gapless is-mobile">
  <div class="column is-1"></div>
  <div class="column is-half">
    <input id="time-entry-name"  value="{{time_entry_name}}" class="input is-primary" type="text" placeholder="What are you working on?">    
    <input id="time-entry-id" type="hidden" value="{{time_entry_id}}"/>
    {% if time_entry_id != "" %}
    <script type="text/javascript">
      document.addEventListener("DOMContentLoaded", function(event) {
        TonaTimeEntry.StartTimeEntry("{{time_entry_start}}");
      });
    </script>    
    {% endif %}
  </div>
  <div class="column is-one-quarter has-text-centered">
    <h4 id="time-entry-duration" class="title is-4">00:00:00</h4>
  </div>
  <div class="column is-one-quarter">
    <div class="field is-grouped">      
      <p class="control">
        <a onclick="TonaTimeEntry.StartTimeEntry()" id="start-time-entry" class="button is-primary" title="Start time entry">
          <span class="icon">
            <i class="fas fa-clock"></i>
          </span>
        </a>
      </p>
      <!--p class="control">
        <a id="start-pomodoro" class="button is-light" title="Start pomodoro">
          <span class="icon">
            <i class="fas fa-stopwatch"></i>
          </span>
        </a>
      </p-->
      <p class="control">
        <a onclick="TonaTimeEntry.StopTimeEntry()"id="stop-time-entry" class="button is-light is-hidden" title="Stop time entry">
          <span class="icon">
            <i class="fas fa-stop"></i>
          </span>
        </a>
      </p>
    </div>
  </div>
</div>

<div class="columns is-gapless is-mobile">
  <div class="column">    
  </div>
</div>

<div class="columns">
  <div class="column">
    <p class="bd-notification is-info title is-4 has-text-centered">Last time entry</p>
    <div class="columns is-mobile">
      <div class="column">
        <table class="table is-narrow is-hoverable is-fullwidth">
          <thead>
            <tr>
              <th>Title</th>
              <th>Duration</th>
            </tr>
          </thead>
          <tbody>
            {% for row in rows %}
              <tr>
                <th>{{row.name}}</th>
                <td>{{format_duration(row.duration)}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!--div class="column">
    <p class="bd-notification is-danger title is-4 has-text-centered">Clocked hours</p>
    <div class="columns is-mobile">
      <div class="column">
        <p class="bd-notification is-danger"></p>
      </div>
    </div>
  </div-->
</div>
{% endblock %}